<div class="col-xs-12">
  <img src="" alt="" class="image-responsive">
</div>
<div class="col-xs-12">
  <h1>Recipe name</h1>
<div class="col-xs-12">
  <button class="nav-link dropdown-toggle" data-toggle="dropdown">Manage Recipe</button>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">To Shopping List</a>
    <a class="dropdown-item" href="#">Edit Recipe</a>
    <a class="dropdown-item" href="#">Delete Recipe</a>
  </div>
</div>
<div class="col-xs-12">
  Description
</div>
<div class="col-xs-12">
  Ingredients
</div>


